<h1>Listing pessoas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th class="actions"></th>
    <th class="actions"></th>
    <th class="actions"></th>
  </tr>
<%i=0%>
<% @pessoas.each do |pessoa| %>
	<% i += 1 %>
  <tr class="<%= 'even' if (i%2 == 0) %>">
    <td><%= pessoa.nome %></td>
    <td><%= link_to 'Ver', pessoa %></td>
    <td><%= link_to 'Alterar', edit_pessoa_path(pessoa) %></td>
    <td><%= link_to 'Excluir', pessoa, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_pessoa_path %>
