<h1>Listando Usuários</h1>
<table>
	<tr>
		<th>Nome</th>
		<th>Email</th>
		<th>Admin</th>
		<th>Ativo</th>
		<th class="actions"></th>
		<th class="actions"></th>
		<th class="actions"></th>
	</tr>
	<% i=0 %>
	<% @usuarios.each do |usuario| %>
	<% i+=1 %>
	<tr class="<%= 'even' if (i%2 == 0) %>">
		<td><%= usuario.nome %></td>
		<td><%= usuario.email %></td>
		<td><%= usuario.admin %></td>
		<td><%= usuario.ativo %></td>
		<td><%= link_to t('Show'), usuario %></td>
		<td><%= link_to t('Edit'), edit_usuario_path(usuario) %></td>
		<td><%= link_to t('Destroy'), usuario, :confirm => 'Tem certeza?', :method => :delete %></td>
	</tr>
	<% end %>
</table>
<br />

<%= link_to 'Novo', new_usuario_path %>
