<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @usuario.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Senha hash:</b>
  <%= @usuario.senha_hash %>
</p>

<p>
  <b>Senha salt:</b>
  <%= @usuario.senha_salt %>
</p>

<p>
  <b>Admin:</b>
  <%= @usuario.admin %>
</p>

<p>
  <b>Ativo:</b>
  <%= @usuario.ativo %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
